beautifulsoup4==4.6.3
bs4==0.0.1
certifi==2018.8.13
cffi==1.11.5
chardet==3.0.4
cssselect==1.0.3
feedparser==5.2.1
idna==2.7
lxml==4.9.1
numpy==1.13.1
pandas==0.20.3
pprint==0.1
progressbar==2.5
pycparser==2.18
pyquery==1.4.0
python-dateutil==2.7.3
pytz==2018.5
requests==2.19.1
six==1.11.0
ssdeep==3.3
tabulate==0.8.2
urllib3==1.23
yara-python==3.8.0
